body{
    font-family: 'Arial', sans-serif;
    background-color: #faffff;
    color: black;
    padding: 5%;
    overflow: hidden;
}
.info-box {
    display: flex;
    justify-content: left;
    align-items: left;
    box-shadow: 0 0 10px 0 rgba(9,32,77,0.2);
    border-radius: 5px;
    padding: 1%;
}