body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(to bottom left, #DDEEFB, #FBD1E6);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    padding: 5%;
    min-height: 100vh;
}

.info-box {
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: left;
    box-shadow: 0 0 10px 0 rgba(9, 32, 77, 0.2);
    border-radius: 5px;
    padding: 1%;
}
a {
    text-decoration: none;
    color: #429CE3;
}